@use '../abstract/' as *;

.about-me {
    max-width: 1000px;
    margin: 0 auto;

    @include sm-min {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 2em;
    }

    &__img {
        grid-area: img;
        box-shadow: $box-shadow;
        position: relative;
        z-index: 2;
    }
}

.section{
    
    &__title--about {
    grid-area: title;
    }

    &__subtitle--about {
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);

        @include sm-xs {
            padding-right: 0;
        }
    }
}