@use '../abstract/' as *;

.my-work {
    padding-bottom: 3em;
    background-color: $color-dark-bg;
    color: $color-light;
    text-align: center;
}

.section__subtitle--work {
    color: $color-accent;
    font-weight: $fw-bold;
    margin-bottom: 1em;
}

.portfolio {
    display: grid;
    //grid-template-columns: repeat(3, 1fr); Good, but not responsive. Need to be changed manually
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    @include xxl-xl {
        margin: 0 15em;
        // grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
    

    @include sm-xs {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    &__item {
        position: relative;
        background: $color-blend;
        overflow: hidden;

        &:hover .portfolio__title{
            color: $color-light;
        }
    }

    &__title {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2em;
        font-weight: $fw-bold;
        letter-spacing: 0.3em;
        color: transparent;
    }

    &__img {
        transition:
            transform 750ms cubic-bezier(0.5, 0, 0.5, 1),
            opacity 250ms linear;
        
        &:hover {
            transform: scale(1.2);
            opacity: 0.5;
        }
    }
}

.btn--resume {
    margin-top: 3em;
}