@use '../abstract/' as *;

.my-work {
    background-color: $color-dark-bg;
    color: $color-light;
    text-align: center;
}

.section__subtitle--work {
    color: $color-accent;
    font-weight: $fw-bold;
    margin-bottom: 1em;
}

.portfolio {
    display: grid;
    //grid-template-columns: repeat(3, 1fr); Good, but not responsive. Need to be changed manually
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    @include xxl-xl {
        margin: 0 15em;
        // grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
    

    @include sm-xs {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    &__item {
        background: $color-blend;
        overflow: hidden;
    }

    &__img {
        transition:
            transform 750ms cubic-bezier(0.5, 0, 0.5, 1),
            opacity 250ms linear;
        
        &:hover {
            transform: scale(1.2);
            opacity: 0.5;
        }
    }
}