$font-header: 'Balsamiq Sans', cursive;
$font-main: 'Montserrat', sans-serif;

$fw-bold: 700;
$fw-reg: 400;

$font-body: 1rem;

$box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
             0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15); 


$xxl: 1900px;                
$ul: 1340px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 0;


$gap: 20px;